[Desktop Entry]
Type=Application
Name=QQ
GenericName=Instant messaging software service
Exec=tencent-qq
Icon=com.tencent.QQ
Terminal=false
Categories=Network;InstantMessaging;
StartupNotify=true
Name[zh_CN]=腾讯QQ
